/* CARD HEADER */
.nc-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nc-card__header__info h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .nc-card__header__info h3 {
    font-size: 2.0rem;
  }
}

.nc-card__header__remove {
  color: var(--color-text-subtitle);
  font-weight: 700;
  cursor: pointer;
}

/* CARD MAIN */
.nc-card__main {
  margin-bottom: 30px;
}

.nc-card__main__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (min-width: 768px) {
  .nc-card__main__description {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

/* CARD FOOTER */
.nc-card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nc-card__footer__actions {
  line-height: 2.4rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .nc-card__footer__actions {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
