/* HEADER */
.home__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.home__header__filter {
  width: 50%;
  font-size: 1.6rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .home__header__filter {
    height: 5rem;
  }
}

/* MAIN */
.home__list__total {
  text-align: right;
  margin-bottom: 10px;
}

.home__list__cards {
  width: 100%;
}
